/**** BASE STYLES ****/
@font-face {
  font-family: Wisdom Script;
  src: url('../fonts/wisdom-script.otf') format('opentype');
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  color: black;
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 22px;
  color: #77a466;
  text-align: left;
  padding: 5px 0;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 16px;
  line-height: 23px;
  padding: 0 30px;

}

header {
  height: 110px;

}

header h1 {
  float: left;
  margin: 0;
  padding: 48px 0;
}

header h1 span {
  color: #77a466;
}

header nav {
  float: right;
  padding: 46px 0;
}

header nav ul li {
  display: inline;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 0 10px;
}

header nav ul li a {
  text-decoration: none;
  color: #77a466;
}

.top-section, .bottom-section {
  margin: 0 auto;
  clear: both;
}

.main-image {
  float: left;
  height: auto;
}

.main-image img {
  border-top: 3px solid #77a466;
  border-bottom: 3px solid #77a466;
  margin: 0 20px 0 20px;
}

.main-title {
  float: left;
  height: auto;
}

.main-title p {
  padding: 0;
  font-size: 16px;
  line-height: 25px;
}

.section-one, .section-two, .section-three {
  border-top: 1px solid #dedbec;
  width: 399px;
  height: auto;
  float: left;
}

.section-one h3 {
  padding: 10px 0;
}

.section-two h3, .section-three h3 {
  padding: 10px 30px;
}

.menu {
  list-style: none;
  padding:0;
}

.menu li {
  padding: 10px 0;
  color: #77a466;
}

.section-two {
  border-right: 1px solid #dedbec;
  border-left: 1px solid #dedbec;
}
.reviews {
  font-size: 16px;
  line-height: 23px;
}

/***** FOOTER *****/
footer {
  border-top: 3px solid #dedbec;
  clear: both;
  height: 50px;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}

footer h4 span {
  font-family: 'Wisdom Script', cursive;
  text-transform: lowercase;
  color: #77a466;
}
